.fade-appear{
    opacity: 0;
}
.fade-appear.fade-appear-active{
    opacity: 1;
    transition: all 600ms;
}
.fade-exit{
    opacity: 1;
    background-color: red;
    
}
.fade-exit.fade-exit-active{
    opacity: 0;
    background-color: red;
    transform: scale(1.5);
    transition: opacity 600ms;
}
.fade-exit.fade-exit-done{
    opacity: 0;
    background-color: red;
}