.login-title {
  font-family: "KG Hope For A Cure";
  font-weight: bolder;
  font-size: 2rem;
}
.login .login-form .input-control {
  @apply relative p-4  border border-slate-500;
}
.login .login-form .input-control label {
  @apply transition-all absolute  top-0 left-[.1rem] text-sm opacity-40;
}
.login .login-form .input-control input {
  @apply outline-none w-full h-full bg-inherit;
}
.login .login-form .input-control input:placeholder-shown + label {
  @apply top-[50%] left-[1rem]  translate-y-[-50%] text-base opacity-60;
}
.login .login-image {
  @apply w-0 sm:w-[55%];
}

.login .login-image img {
  @apply object-cover;
}
.login .login-description {
  @apply opacity-50;
}
.login-form-wrapper{
  @apply w-full sm:w-[45%] flex h-full justify-center items-center flex-col
}
.login{
  @apply h-screen w-full flex
}





